numpy
pandas
scikit-learn
opencv-python
tensorflow
keras
tf-keras
flask
requests
sounddevice
scipy
pygame
python-dotenv
twilio
speechrecognition
pyannote.audio
sentence-transformers
librosa
torch
torchaudio
transformers